recursive include bear/*
recursive include bear/templates/build_tools/travis *.txt *.sh *.cfg
recursive include bear/templates/doc *
recursive include bear/templates/examples *.txt
recursive include bear/templates/package_level *.txt
recursive include bear/templates/project_level *